* {
  box-sizing: border-box;
}

$size-abbrs: (
    none: 0,
    xxxs: $space--xxxs,
    xxs: $space--xxs,
    xs: $space--xs,
    sm: $space--s,
    md: $space--m,
    lg: $space--l,
    xl: $space--xl,
    xxl: $space--xxl,
    xxxl: $space--xxxl,
);

$directions: (left, right, top, bottom);

//Produces .margin--none, .padding-left--xxxs, etc...
@each $size, $units in $size-abbrs{
    .margin--#{$size}{
        margin: $units;
    }
    @each $direction in $directions{
        .margin-#{$direction}--#{$size}{
            margin-#{$direction}: $units;
        }
    }
    .padding--#{$size}{
        padding: $units;
    }
    @each $direction in $directions{
        .padding-#{$direction}--#{$size}{
            padding-#{$direction}: $units;
        }
    }
    .margin-important--#{$size}{
        margin: $units!important;
    }
    @each $direction in $directions{
        .margin-#{$direction}-important--#{$size}{
            margin-#{$direction}: $units!important;
        }
    }
    .padding-important--#{$size}{
        padding: $units!important;
    }
    @each $direction in $directions{
        .padding-#{$direction}-important--#{$size}{
            padding-#{$direction}: $units!important;
        }
    }
}

@each $name, $abbr in $screen-sizes{
    @include responsive-screen($name){
        @each $size, $units in $size-abbrs{
            .margin__#{$abbr}--#{$size}{
                margin: $units;
            }
            @each $direction in $directions{
                .margin-#{$direction}__#{$abbr}--#{$size}{
                    margin-#{$direction}: $units;
                }
            }
            .padding__#{$abbr}--#{$size}{
                padding: $units;
            }
            @each $direction in $directions{
                .padding-#{$direction}__#{$abbr}--#{$size}{
                    padding-#{$direction}: $units;
                }
            }
            .margin-important__#{$abbr}--#{$size}{
                margin: $units!important;
            }
            @each $direction in $directions{
                .margin-#{$direction}-important__#{$abbr}--#{$size}{
                    margin-#{$direction}: $units!important;
                }
            }
            .padding-important__#{$abbr}--#{$size}{
                padding: $units!important;
            }
            @each $direction in $directions{
                .padding-#{$direction}-important__#{$abbr}--#{$size}{
                    padding-#{$direction}: $units!important;
                }
            }
        }
    }
}

.position--relative {
    position: relative;
}
.position--absolute {
    position: absolute;
}

@each $direction in $directions{
    @for $i from 1 through 100{
        .#{$direction}--#{$i}px{
            #{$direction}: #{$i}px;
        }
    }
}

.vertical-align--center {
    transform: translate(0, -50%);
    top: 50%;
}
.vertical-align--top {
    transform: translate(0, 0%);
    top: 0%;
}
.vertical-align--bottom {
    transform: translate(0, -100%);
    top: 100%;
}

.display--none{
    display: none;
}
.display--block{
    display: block;
}
.display--inline-block{
    display: inline-block;
}
.display--inline{
    display: inline;
}
@each $name, $abbr in $screen-sizes{
    @include responsive-screen($name){
        .display__#{$abbr}--none{
            display: none;
        }
        .display__#{$abbr}--block{
            display: block;
        }
        .display__#{$abbr}--inline-block{
            display: inline-block;
        }
        .display__#{$abbr}--inline{
            display: inline;
        }
    }
}

.wp-block-column:not(:last-child), .wp-block-column:not(:first-child){
    margin: 0!important;
    padding: 0px 10px;
}

.wp-block-columns{

    .wp-block-column{

        @include small-max{
            margin: 0px!important;
            width: 100%;
            flex-basis: 100%;
            padding: 0px;
        }

    }

}
